.icon-logo {
  fill: rgb(226, 95, 24);
  height: 30px;
  width: 30px;
}

.icon-google {
  height: 30px;
  width: 30px;
}
.icon-apple {
  height: 30px;
  width: 30px;
}

.icon-bowling {
  fill: aliceblue;
  width: 40px;
}
.icon-truck {
  fill: aliceblue;
  width: 40px;
}
.icon-wallet {
  fill: aliceblue;
  width: 40px;
}